@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-4">
    <h1 class="display-4">Welcome to ESHApp</h1>
    <p class="lead">This is your dashboard. From here, you can upload Excel files to process them into CSV reports.</p>

    <hr />
</div>

